/*
 * Myir Zturn board DTS
 *
 * Based on ZED DTS, which is
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * SPDX-License-Identifier:    GPL-2.0+
 */

/dts-v1/;
#include "zynq-7000.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Zynq Zturn Board";
	compatible = "xlnx,zynq-zturn", "xlnx,zynq-7000";

	aliases {
		serial0 = &uart1;
		ethernet0 = &gem0;
		mmc0 = &sdhci0;
	};

	board {
		phys-reset-gpio = <&gpio0 51 GPIO_ACTIVE_LOW>;
	};

	memory {
		device_type = "memory";
		reg = <0 0x40000000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};


&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
